*
{
  margin:0px;
}
.navbar
{
    height:50px;
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px 50px;
}
.logo>img{
  height: 60px;
  width: 100px;

}
.search>input{
    height: 30px;
    width:500px;
    align-items: center;
    margin-left: 40px;
    transform: translate(-130px);
    border-radius: 5px;
    border: .5px solid gainsboro;
}
.search img{
    z-index: 5;
    height: 30px;
    width: 30px;
    align-items: center;
    position: relative;
    margin-right:90px;
    margin-bottom: -10px;;
}
.options>select
{
    border: none;
    height: 40px;
    margin-right: 10px;
    transform: translate(-20px);
}
.options>button{
    background-color: crimson;
    color: white;
    height: 25px;
    border:none;
    border-radius: 5px;

    }
.navlink
{
    display:flex;
    justify-content: space-between;
    height: 40px;
    padding: 0px 50px;
    align-items: center;
    padding: 2px 10px;
    background-color: #F5F5F5;

}
.navlink a
{
    text-decoration: none;
    margin: 0px 5px;
    color:black;
    font-family: sans-serif;
    font-size: smaller;

}
.section img
{
    margin-top: 2px;
    border-radius: 10px;
}
.section
{
    background-color: #EBEBEB;
}
.section2 img{
    padding:30px;
    padding-top: 80px;
    border-radius: 5px;
}
.section3
{
   display: flex;
   justify-content: space-between;
    padding: 30px 40px 0px 60px;
    align-items: center;
    font-family: sans-serif;
    align-items: center;

}
.section3 a{
    text-decoration: none;
    color: red;
}
.section3 f1
{
    font-weight: 30px;
}
.f2
{
   color: red;
}
.section4 
{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: sans-serif;
}

.sub1 img
{
    height:280px;
    width:180px;
    border-radius: 10px;
    position: relative;
    top:100px;
    transition: 2s;
}
.sub1 img:hover
{
    top:80px;
}
.sub1
{
    height: 400px;
    width:190px;
}
.sub1 span{
    color: gray;
}



